@font-face {
    font-family: "Exo";
    src: url("../public/fonts/Exo-Regular.ttf?") format("truetype")
}

@font-face {
    font-family: "Exo";
    font-weight: 500;
    src: url("../public/fonts/Exo-Medium.ttf?") format("truetype")
}

@font-face {
    font-family: "Exo";
    font-weight: 600;
    src: url("../public/fonts/Exo-SemiBold.ttf?") format("truetype")
}

@font-face {
    font-family: "RetroLandMayhem";
    src: url("../public/fonts/retro-land-mayhem.ttf?") format("truetype")
}
